<!DOCTYPE html>
<html>
    <head>
        <title>Restaurant List</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
        <link rel='stylesheet' href="css/styles.css">
        <script src="js/script.js"></script>
    </head>
    <body>
        <div class="container">

            #parse( $template )

        </div>
    </body>
</html>
